[Desktop Entry]
Encoding = UTF-8
Name = Google-Taks-Indicator
Version = 0.0.4.0
Comment = An indicator for Google Tasks
GenericName = Google-Tasks-Indicator
Terminal = false
Icon = /usr/share/google-tasks-indicator/icons/google-tasks-indicator.svg
Type = Application
Exec = /usr/bin/google-tasks-indicator
Name[it] = Google-Taks-Indicator
Name[fr] = Google-Taks-Indicator
Name[es] = Google-Taks-Indicator
Name[ms] = Google-Taks-Indicator
Name[bs] = Google-Taks-Indicator
Name[tr] = Google-Taks-Indicator
Name[de] = Indikator für Google-Aufgaben
Name[zh_CN] = Google-Taks-Indicator
Name[pl] = Google-Taks-Indicator
Name[fi] = Google-Taks-Indicator
Name[cs] = Google-Taks-Indicator
Name[pt_BR] = Google-Taks-Indicator
Name[ca] = Google-Taks-Indicator
Name[ru] = Индикатор задачи Google
Name[pt] = Google-Taks-Indicator
Comment[it] = Un indicatore per Google Tasks
Comment[fr] = Un indicateur pour Google Tasks
Comment[es] = Un indicador para Google Tasks
Comment[ms] = Merupakan penunjuk untuk Google Tasks
Comment[bs] = Indikator za Google Tasks
Comment[tr] = Google Görevleri göstergesi
Comment[de] = Ein Indikator für Google-Aufgaben
Comment[zh_CN] = Google 任务提示器
Comment[pl] = Aplet dla Google Tasks
Comment[fi] = Google Tasks -ilmaisin
Comment[cs] = Indikátor Google Tasks
Comment[pt_BR] = Um indicador para o Google Tasks
Comment[ca] = Un indicador per Google Tasks
Comment[ru] = Индикатор задач Google
Comment[pt] = Um indicador para o Google Tasks
GenericName[it] = Google-Tasks-Indicator
GenericName[fr] = Google-Tasks-Indicator
GenericName[es] = Google-Tasks-Indicator
GenericName[ms] = Google-Tasks-Indicator
GenericName[bs] = Google-Tasks-Indicator
GenericName[tr] = Google-Tasks-Indicator
GenericName[de] = Indikator für Google-Aufgaben
GenericName[zh_CN] = Google-Tasks-Indicator
GenericName[pl] = Google-Tasks-Indicator
GenericName[fi] = Google-Tasks-Indicator
GenericName[cs] = Google-Tasks-Indicator
GenericName[pt_BR] = Google-Tasks-Indicator
GenericName[ca] = Google-Tasks-Indicator
GenericName[ru] = Индикатор задач Google
GenericName[pt] = Google-Tasks-Indicator
